.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px auto auto auto;
  gap: 2%;
  padding: 10px 0;
  width: 100%;
}
.authFormBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10px 40px;
  box-shadow: 5px 5px 10px #979797;
  display: flex;
  flex-direction: column;
  max-width: 450px;
  min-width: 30%;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.authHeader {
  padding: 10px;
  text-align: center;
}
.subButton { margin-top: 8px; }