.boxContainer {
  padding: calc(10 * 8px) 0;
}
.container {
  display: flex;
  justify-content: space-around;
  gap: calc(5 * 8px);
}
.columnTitle {
  font-size: 1.3rem;
  color: #1c1c1d;
  font-weight: 700;
  margin-bottom: 2;
}
.footerItem {
  font-size: 1rem;
  color: #7a7a7e;
  font-weight: 300;
  cursor: pointer;
}
.footerItem:hover { color: #000; }
/* sm */
@media (max-width: 600px) {
  .container {
    flex-direction: column;
    text-align: center;
  }
}