.logo {
  cursor: pointer;
  width: 100px;
}
.menuIcon {
  cursor: pointer;
  display: none;
  margin-right: calc(2 * 8px);
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: calc(5 * 8px);
}
.linksBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(1 * 8px);
}
.linksContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(2 * 8px);
}
.navLink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(3 * 8px);
  color: inherit;
  text-decoration: none;
}
.navLink:hover {
  color: #0f1b4c;
}
.rightMenuBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.menuIconBox {
  display: flex;
  align-items: center;
}
.leftMenuBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.mobileRequest { display: none;}
.navigationButton { text-decoration: none; }
/* md */
@media (max-width: 930px) {
  .menuIcon { display: block; }
  .container {
    margin-top: 0px;
    padding: calc(2 * 8px);
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #f5fafe;
    border-bottom: solid 2px #0f1b4c;
  }
  .linksContainer { display: none; }
  .navLink { display: block; }
}

/* sm */
@media (max-width: 600px) {
  .logo { display: none; }
  .boxMobileMenu { width: 250px; }
  
  .desktopRequest { display: none; }
  .mobileRequest { display: block;}
}